.bottom-container {
    width: 100%;
    display: flex;
   
    justify-content: center;
    padding: 10px;
    /* align-items: center; */
  }
  
  
  .bottom-container ul {
    display: flex;
    justify-content: start;
    flex-direction: row;
    list-style: none;
  }
  .bottom-container ul li {
    padding-left: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  
  .bottom-container ul li img {
    width: 40px;
    height: 40px;
  }
  
  .available {
    filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(212deg)
      brightness(104%) contrast(104%);
  }
  .unavailable {
    filter: invert(15%) sepia(99%) saturate(7455%) hue-rotate(2deg)
      brightness(101%) contrast(106%);
  }
  
  .yourselection {
    filter: invert(95%) sepia(41%) saturate(6882%) hue-rotate(54deg)
      brightness(90%) contrast(108%);
  }